/* CSS reset*/
body {
    min-width: 960px;
    font-family: "Microsoft Yahei";
}

input, textarea, select {
    font-size: 12px;
    font-size: 100%;
    font-family: arial;
    font-family: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form {
    margin: 0;
}

h4, h5, h6 {
    font-size: 1em;
}

ul, ol {
    padding-left: 0;
    list-style-type: none;
}

/*image with no-border*/
a img {
    border: 0;
}

img {
    border: 0;
}

.f-cb:before,
.f-cb:after {
    content: "";
    display: table;
}

.f-cb:after {
    clear: both;
}

.f-cb {
    *zoom: 1;
}

/* CSS model*/

/* header */
.g-hd {
    height: 80px;
    width: 100%;
    background-color: #000;
}

.m-nav {
    width: 960px;
    margin: 0 auto;
}

.m-nav img {
    height: 80px;
    width: auto;
}

.m-nav-title {
    float: right;
}

.m-nav-title div {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    line-height: 80px;
    color: #fff;
    cursor: pointer;
}

.m-nav-title img {
    width: 16px;
    height: auto;
    margin-left: 10px;
    transition: all ease 0.3s;
}

.u-ul {
    position: absolute;
    z-index: -999;
    width: 100%;
    line-height: 16px;
    background-color: #000000;
}

.u-li {
    padding: 10px;
}

.u-li:hover {
    background-color: #2E707A;
    transition: all ease 0.3s;
}

/* css version of navbar pulldown */
.m-nav-title div:hover > .u-ul {
    z-index: 999;
}

.m-nav-title div:hover > img {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    transition: all ease 0.3s;
}

/* banner */
.g-bn {
    display: flex;
    position: relative;
    width: 100%;
}

.m-bn-1, .m-bn-2 {
    flex: 1;
    width: 50%;
    height: 260px;
}

.m-bn-3 {
    position: absolute;
    width: 960px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.m-bn-3 h2 {
    color: rgba(255, 255, 255, .5);
    font-size: 32px;
    font-weight: 400;
}

.m-bn-3 h1 {
    color: #fff;
    font-size: 44px;
    font-weight: 400;
}

/* main body first row*/
.g-bd {
    width: 960px;
    margin: 20px auto 0;
}

[class^="m-bd"] {
    width: 100%;
    margin-top: 20px;
}

.m-bd-1 {
    display: flex;
    justify-content: space-between;
}

.u-ct {
    box-sizing: border-box;
    width: 310px;
    padding: 20px;
    border: 2px solid #f1f1f1;
}

.u-ct-hd {
    float: left;
}

.u-ct-hd h1, .u-ct-hd h3 {
    font-weight: 400;
}

.u-ct-hd h1 {
    font-size: 48px;
}

.u-ct-hd h3 {
    font-size: 24px;
    color: #c2c2c2;
}

.u-ct-img {
    float: right;
    width: 100px;
    height: 100px;
}

.u-ct-down {
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
}

/* main body second row*/
.m-bd-2 {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.m-bd-2 p {
    position: absolute;
    left: 20px;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
}

/* css fade in and out */
.u-bd-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fade-in {
    opacity: 100;
    filter: alpha(opacity=100);
}

.u-bd-dot {
    position: absolute;
    left: 50%;
    margin-left: -27px;
    bottom: 0;
}

.u-bd-dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
}

.u-bd-dot .f-bgc {
    background-color: rgba(255, 255, 255, 1);
}

/* css slide left and right */
/*.m-slide {*/
    /*width: 3840px;*/
    /*height: 180px;*/
    /*-webkit-transition: all 1s ease-in-out;*/
    /*-moz-transition: all 1s ease-in-out;*/
    /*-o-transition: all 1s ease-in-out;*/
    /*transition: all 1s ease-in-out;*/
/*}*/

/*.u-bd-img {*/
    /*float: left;*/
    /*width: 960px;*/
    /*height: 180px;*/
/*}*/
/*.u-bd-dot {*/
/*position: absolute;*/
/*left: 50%;*/
/*margin-left: -27px;*/
/*bottom: 0;*/
/*}*/

/*.u-bd-dot span {*/
/*display: inline-block;*/
/*width: 10px;*/
/*height: 10px;*/
/*border-radius: 50%;*/
/*background-color: rgba(255, 255, 255, .5);*/
/*}*/

/*.u-bd-dot .f-bgc {*/
/*background-color: rgba(255, 255, 255, 1);*/
/*}*/

/* main body third row*/
.m-bd-3 {
    display: flex;
}

.u-bd-tab {
    flex: 1;
    padding: 20px 60px;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #d1d1d1;
}

.z-selected {
    border: 1px solid #d1d1d1;
    border-bottom: none;
}
.m-bd-ct
{
    margin-top: 0;
}
.u-bd-ct
{
    width: 100%;
    height: 200px;
    border: 1px solid #d1d1d1;
    border-top: none;
    display: none;
}
.f-show
{
    display: block;
}
.u-bd-ct p
{
    padding:10px;
}

/* main body fourth row*/
.m-bd-4 table {
    font-size: 16px;
    text-align: center;
    border-collapse: collapse;
}

.m-bd-4 table td {
    width: 25%;
    height: 50px;
    border: 1px solid #c2c2c2;
    border-left: none;
    border-right: none;
}

.m-bd-4 td:nth-child(odd) {
    background-color: #eee;
}

.m-bd-4 h3 {
    margin: 20px 0;
}

.m-bd-4 h3, .m-bd-4 table > thead, .m-bd-4 td:nth-child(1), .z-free, .z-red p, .z-blue p {
    font-size: 18px;
    font-weight: 500;
}

.z-free {
    color: #3c763d;
}

.z-red {
    color: #D0021B;
}

.z-blue {
    color: #2F87E1;
}

/* main body fifth row*/
.m-bd-5 {
    box-sizing: border-box;
    height: 240px;
    padding: 50px 70px;
}

.u-fm {
    display: flex;
    width: 330px;
    height: 130px;
}

.u-fm-l {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.u-fm-l select {
    height: 30px;
}

.u-fm-l input {
    height: 25px;
}

.u-fm button {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    background: linear-gradient(to top, #5f95de, #fff);
    border: none;
    border-radius: 5%;
    align-self: flex-end;
}

/* footer */
footer {
    text-align: center;
    margin-top: 20px;
}

/* background */
.s-bgc-1 {
    background-image: url("../images/left.png");
    background-size: 100% 100%;
}

.s-bgc-2 {
    background-image: url("../images/right.jpeg");
    background-size: 100% 100%;
}

.s-bgc-3 {
    background-image: url("../images/middle1.jpeg");
    background-size: 100% 100%;
}

.s-bgc-4 {
    background-image: url("../images/shakehand.jpeg");
    background-size: 100% 100%;
}

.s-bgc-5 {
    background-image: url("../images/person.jpeg");
    background-size: 100% 100%;
}

.s-bgc-6 {
    background-image: url("../images/chat.jpeg");
    background-size: 100% 100%;
}

.s-bgc-7 {
    background-image: url("../images/tongji.jpeg");
    background-size: 100% 100%;
}